.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.title {
  font-size: 3rem;
}

.search-btn {
  cursor: pointer;
  margin-top: 1rem;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.list-items {
  padding-right: 3rem;
  list-style-type: none;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.search-bar {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 40%;
  background: #f1f1f1;
  border-radius: 5px;
}

.waiting-phrase {
  color: gray;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}
